# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

# ignore webstorm editor project files
**/.idea/**/*
.idea
.idea/encodings.xml
.idea/examples.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/misc.xml

# ignore webstorm Atlassian plugin config file
atlassian-ide-plugin.xml

# ignore bower components
bower_components/*

# ignore node_modules
node_modules

#
.DS_Store
