<!doctype html>
<html>

<head>
  <title>KnockoutJS - Components</title>
  <script src="./jquery-3.0.0.min.js" type="text/javascript"></script>
  <script src="./knockout-3.4.0.js" type="text/javascript"></script>
</head>

<body>

  <div class="main-canvas">
    <like-widget></like-widget>
    <div data-bind='component:{name: "like-widget", params:{value:"like"}}'>
    </div>
  </div>

  <script type="text/javascript">

    // Overall viewmodel for this screen, along with initial state
    function ReservationsViewModel() {
    }

    ko.components.register("like-widget", {
      viewModel: function(params){
        console.log(params);
        this.chosenValue = ko.observable(params&&params.value?params&&params.value:undefined);
        this.like = function(){
          this.chosenValue("like");
        }.bind(this);
        this.dislike = function(){
          console.log(arguments);
          this.chosenValue("dislike");
        }.bind(this);
      },
      template:
      '<div data-bind="visible: !chosenValue()">\
        <button data-bind="click: like">Like it</button>\
        <button data-bind="click: dislike">Dislike it</button>\
      </div>\
      <div>\
        You <strong data-bind="text: chosenValue"></strong> it\
      </div>\
      '
    });

    ko.applyBindings(new ReservationsViewModel());
  </script>


</body>

</html>
